  <!-- tpm-header-area start -->
    <header class="tmp-header-area-start header-one header--sticky header--transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-content">
                        <div class="logo">
                            <a href="index.html">
                                <p><strong>Christoph B. Reimann</strong></p>
                            </a>
                        </div>
                        <nav class="tmp-mainmenu-nav d-none d-xl-block">
                            <ul class="tmp-mainmenu">
                                <li>
                                    <a href="index.html">Home</a>
                                <li>
                                    <a href="about">Über mich</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="tmp-header-right">
                            <div class="social-share-wrapper d-none d-md-block">
                                <div class="social-link">
                                    <a href="https://www.linkedin.com/in/christoph-b-reimann-192328227/" target="_blank" rel="noopener">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="actions-area">
                                <!-- Burger Menü auf Desktop
                                <div class="tmp-side-collups-area d-none d-xl-block">
                                    <button class="tmp-menu-bars tmp_button_active"><i class="fa-regular fa-bars-staggered"></i></button>
                                </div>
                                -->
                                <div class="tmp-side-collups-area d-block d-xl-none">
                                    <button class="tmp-menu-bars humberger_menu_active">
                                        <i class="fa-regular fa-bars-staggered"></i>
                                    </button>
                                </div>
                            </div>
                        </div> <!-- .tmp-header-right -->
                    </div> <!-- .header-content -->
                </div>
            </div>
        </div>
    </header>
    <!-- tpm-header-area end -->